 <section class="intro_small wave">
    <ul class="slidewrapper">
        <li class="slide s01">
          <div class="overlay">
        </li>
    </ul>
</section>

<section class="page product-new">
  <div class="content">
  <p id="notice"><%= notice %></p>

  <h1><%= @product.title %></h1>
  <div class="price2"> от <%= @product.link %> руб.</div>

  <p>
    <%= @product.description.html_safe %>
  </p>

  <%= form_for @cart, remote: true do |form| %>
    <% if @cart.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

        <ul>
        <% @cart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :session %>
      <%= form.text_field :session, id: :cart_session, value: request.session.id  %>
    </div>

    <div class="field">
      <%= form.label :product %>
      <%= form.text_field :product, id: :cart_product, value: @product.title %>
    </div>

    <div class="field">
      <%= form.label :quantify %>
      <%= form.number_field :quantify, id: :cart_quantify, value: 1 %>
    </div>
    
    <div class="field">
      <%= form.label :product_id %>
      <%= form.number_field :product_id, id: :cart_product_id, value: @product.id %>
    </div>

    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active, id: :cart_active, checked: true %>
    </div>

    <div class="actions ">
      <%= form.submit 'js_add_to_cart', :class => 'js_add_to_cart_button' %>
    </div>
  <% end %>

  <a class="price2 tobasket js_add_to_cart_link">
    <span>В корзину</span>
    <div href="/" class="basket"></div>
  </a>

  <% if @product.images %>

      <% @product.images.each do |image| %>

        <div class="img">
          <%= image_tag image.image, height: '150'%>
        </div>

      <% end %>

  <% end %>

</section>

